/* 전체 적용 */
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
/******************************************************** main_header *******************************************************/

/* login 구현 */
#main_wrap {
  margin-right: 70px;
  margin-left: 70px;
}
#login_wrap {
  height: 30px;
}
#login_wrap ul {
  text-align: right;
}
#login_wrap ul li {
  font-size: 15px;
  font-weight: bolder;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
#login_wrap ul li::after {
  content: "|";
  padding-left: 5px;
}
#login_wrap ul li:last-child::after {
  content: "";
}
/* 헤더구현 */
#logo_wrap {
  text-align: center;
}
/* 카테고리 구현 */
/* 중간에 있는 메뉴바를 고정 시키고 싶은데 안됨! */
/* fixed 사용시 메뉴바가 축소되는 현상 */
#category_wrap {
  /* background: yellow; */
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 5;
}
#category_wrap.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.category_container {
  color: black;
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  height: 30px;
}
.category_item {
  flex-grow: 1;
  list-style: none;
}
.category_item:hover span {
  border-bottom: 1px solid black;
}

/* dropdown 메뉴 */
#category_dropdown {
  padding-left: 9px;
  opacity: 0;
}
#category_dropdown li {
  list-style: none;
  float: none;
  margin: 7px;
  padding: 0;
}
.category_container .category_item:hover #category_dropdown {
  /* background: black; */
  opacity: 1;
}
.category_container .category_item:hover #category_dropdown li {
  /* height: 35px; */
  overflow: visible;
  padding: 0;
}

/******************************************************** main_list *************************************************/

/* slick slider */
.visual {
  position: relative;
  margin-left: 150px;
  z-index: 0;
}
.visual button {
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 71px;
  height: 71px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}
.visual button.slick-prev {
  left: 0;
  font-size: 0;
  color: transparent;
}
.visual button.slick-prev:before {
  content: "\e93d";
  font-family: "xeicon";
  color: white;
  font-size: 45px;
}
.visual button.slick-next {
  right: 183px;
  font-size: 0;
  color: transparent;
}
.visual button.slick-next:before {
  content: "\e940";
  font-family: "xeicon";
  color: white;
  font-size: 45px;
}

/* 신상품 main */
#newproduct_wrap {
  margin-left: 50px;
  margin-right: 50px;
}
#newproduct_wrap {
  text-align: center;
}
.newproduct_container {
  display: flex;
  text-align: center;
}
.newproduct_item {
  border: 2px solid black;
  flex-grow: 1;
  list-style: none;
  margin: 5px;
  width: 300px;
}
/* 베스트 main */
#best_wrap {
  margin-left: 50px;
  margin-right: 50px;
}
#best_wrap {
  text-align: center;
}
.best_container {
  display: flex;
  text-align: center;
}
.best_item {
  border: 2px solid black;
  flex-grow: 1;
  list-style: none;
  margin: 5px;
  width: 300px;
}

/******************************************* footer ********************************************************/
#footer_wrap {
  width: 100%;
  height: 300px;
  border-top: 1px solid #909090;
  margin-top: 50px;
}
.footer_half_container {
  display: flex;
}

.footer_half_items:nth-child(1) {
  flex-grow: 2;
  text-align: center;
  margin-top: 80px;
}
.footer_half_items:nth-child(2) {
  flex-grow: 2;
  text-align: center;
  margin-top: 80px;
}
.footer_half_items:nth-child(3) {
  flex-grow: 1;
}
.footer_half_items:nth-child(4) {
  flex-grow: 1;
}
.footer_list_container {
  flex-direction: column;
}
.footer_list_items {
  font-size: 1rem;
  padding: 5px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

/****************************************************reproductPage *********************************************************/

/* reproduct_list */
#productPage_img {
  text-align: center;
}
.productPage_container {
  display: flex;
}
.productPage_item {
  flex-grow: 1;
}
/* #count {
  display: inline-block;
} */
/* button */
.btn_purchase {
  margin: 20px 0 0;
  height: 48px;
  width: 200px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: purple;
}
.btn_basket {
  margin: 20px 0 0;
  height: 48px;
  width: 200px;
  border-radius: 3px;
  font-size: 16px;
  color: purple;
  background-color: white;
  /* border: 1px solid black; */
}
/* info */
.productPage_infoMenu_container {
  display: flex;
}
.productPage_infoMenu_items {
  padding-top: 8px;
  height: 40px;
  text-align: center;
  border: 1px solid #bfbfbf;
  background: #f0eef1;
  flex-grow: 1;
  list-style: none;
}
/* table  */
#productPage_detail_content {
  margin-top: 150px;
}
#anc_table {
  margin-bottom: 150px;
}

.table_row {
  background: #f5f5f5;
  color: #515151;
}

/* why fastfood */
.why_container {
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
}
.why_items {
  /* border: 1px solid black; */
  margin: 43px 0 0 10px;
  width: 25%;
  list-style: none;
}
.why_items img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.img_div {
  text-align: center;
}
.why_items h2,
.why_items h2 p {
  text-align: center;
}
#why_fastfood {
  text-align: center;
}

/********************************* pay_list **************************/
h2 {
  text-align: center;
}
h3 {
  border-bottom: 1px solid black;
}
li {
  list-style: none;
}
.pay_arr {
  text-align: left;
  padding-bottom: 15px;
}
/* 결제 상품 */
#pay_product_container {
  display: flex;
}
.pay_product_items {
  flex-grow: 1;
  /* text-align: center; */
}
.pay_product_padding {
  padding-top: 25px;
  text-align: center;
}
/* table */
#pay_wrap {
}
#pay_info_wrap {
}
#pay_info {
  text-align: center;
}
.input_size {
  width: 332px;
  height: 44px;
  padding: 12px 16px;
  margin: 10px;
  border: 1px solid #ddd;
}
.pay_address {
  text-align: left;
}
#check_module {
  width: 240px;
  height: 56px;
  margin: 40px auto 0;
  border-radius: 3px;
  background-color: #4aa96c;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}

/*********************** newproduct_list ******************/
.newproduct_container {
  display: flex;
  flex-wrap: wrap;
}
.newproduct_item {
  border: 1px solid #ddd;
  margin: 10px;
  width: 30%;
  height: 400px;
  list-style: none;
}
.newproduct_item img {
  width: 100%;
  height: 70%;
}
.newproduct_item h3,
h4 {
  text-align: center;
}
/* quick nav */
#quick {
  position: absolute;
  width: 80px;
  height: 25px;
  right: 0px;
}
#quick div {
  position: fixed;
}
.quick_link {
  display: block;
  text-align: center;
}
#quick_side {
  width: 80px;
  margin-top: 110px;
  border: 1px solid #ddd;
}

/************************** monthmoney_list ********************/

#productPage_img {
  text-align: center;
}
.productPage_container {
  display: flex;
}
.productPage_item {
  flex-grow: 1;
}
/* button */
.btn_purchase {
  margin: 20px 0 0;
  height: 48px;
  width: 200px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: purple;
}
.btn_basket {
  margin: 20px 0 0;
  height: 48px;
  width: 200px;
  border-radius: 3px;
  font-size: 16px;
  color: purple;
  background-color: white;
  /* border: 1px solid black; */
}
/* info */
.productPage_infoMenu_container {
  display: flex;
}
.productPage_infoMenu_items {
  padding-top: 8px;
  height: 40px;
  text-align: center;
  border: 1px solid #bfbfbf;
  background: #f0eef1;
  flex-grow: 1;
  list-style: none;
}
/* table  */
#productPage_detail_content {
  margin-top: 150px;
}
#anc_table {
  margin-bottom: 150px;
}

.table_row {
  background: #f5f5f5;
  color: #515151;
}

/* why fastfood */
.why_container {
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
}
.why_items {
  /* border: 1px solid black; */
  margin: 43px 0 0 10px;
  width: 25%;
  list-style: none;
}
.why_items img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.img_div {
  text-align: center;
}
.why_items h2,
.why_items h2 p {
  text-align: center;
}
#why_fastfood {
  text-align: center;
}

/* iframe 적용 */
#productPage_info_content div {
  text-align: center;
}

/***************************** login_list ********************/
a {
  color: #333;
  text-decoration: none;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.inner_login {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -145px 0 0 -160px;
}
.login_tistory {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
.screen_out {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
}
body,
button,
input,
select,
td,
textarea,
th {
  font-size: 13px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
fieldset,
img {
  border: 0;
}
.login_tistory .box_login {
  margin: 35px 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-sizing: border-box;
}
.login_tistory .inp_text {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 18px 19px 19px;
  box-sizing: border-box;
}
.login_tistory .inp_text + .inp_text {
  border-top: 1px solid #ddd;
}
.inp_text input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #000;
  border: none;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
}
.btn_login {
  margin: 20px 0 0;
  width: 100%;
  height: 48px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: purple;
}
.login_append {
  overflow: hidden;
  padding: 15px 0 0;
}
.inp_chk {
  display: inline-block;
  position: relative;
  margin-bottom: -1px;
}
.login_append .inp_chk {
  float: left;
}
.inp_chk .inp_radio {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 0;
}
.inp_chk .lab_g {
  display: inline-block;
  margin-right: 19px;
  color: #909090;
  font-size: 13px;
  line-height: 19px;
  vertical-align: top;
}
.inp_chk .ico_check {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 1px 4px 0 0;
  background-position: -60px 0;
  color: #333;
}
.inp_chk .txt_lab {
  vertical-align: top;
}
.login_append .txt_find {
  float: right;
  color: #777;
}

/* best_list */
.best_container {
  display: flex;
  flex-wrap: wrap;
}
.best_item {
  border: 2px solid black;
  margin: 10px;
  width: 30%;
  height: 400px;
  list-style: none;
}
.best_item img {
  width: 100%;
  height: 70%;
}
.best_item h3,
h4 {
  text-align: center;
}

/* quick nav */
#quick {
  position: absolute;
  width: 80px;
  height: 25px;
  right: 0px;
}
#quick div {
  position: fixed;
}
.quick_link {
  display: block;
  text-align: center;
}
#quick_side {
  width: 80px;
  margin-top: 110px;
  border: 1px solid #ddd;
}

/****************************** basket_list ******************/
/* 장바구니 생성 */

.basketdiv {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  float: left;
  font-size: 0.9375em;
  margin-bottom: 20px;
}
.basketdiv .row.head {
  border-bottom: 2px solid #888;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-weight: 500;
}
.basketdiv .data {
  border-bottom: 1px dashed #888;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  width: 100%;
}
.basketdiv .data .empty {
  text-align: center;
  padding: 12px 0;
}
.basketdiv .row.head .subdiv {
  background-color: #f4f4f4;
}
.basketdiv .row > .subdiv {
  display: block;
  float: left;
}
.basketdiv .row > .subdiv:nth-child(1) {
  width: 50%;
}
.basketdiv .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > .subdiv:nth-child(3) {
  width: 10%;
}
.basketdiv2 .row > .subdiv:nth-child(1) {
  width: 60%;
}
.basketdiv2 .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > div > div {
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}
.basketdiv .row.data > div > div {
  height: 60px;
  line-height: 60px;
}
.basketdiv .data .num .updown {
  color: #0075ff;
  font-size: 2em;
  letter-spacing: -5px;
}
.basketdiv .check {
  width: 10%;
}
.basketdiv .check input[type="checkbox"] {
  transform: scale(1.5);
}
.basketdiv .img {
  width: 20%;
}
.basketdiv .pname {
  width: 70%;
}
.basketdiv2 .pname {
  width: 80%;
}
.basketdiv .basketprice {
  width: 33%;
}
.basketdiv .num {
  width: 33%;
  min-width: 105px;
}
.basketdiv .sum {
  width: 34%;
  max-width: 80px;
  color: #0000aa;
}
.basketdiv .point {
  width: 50%;
}
.basketdiv2 .basketprice {
  width: 25%;
}

.basketdiv2 .num {
  width: 25%;
}

.basketdiv2 .sum {
  width: 25%;
  color: #0000aa;
}

.basketdiv2 .point {
  width: 25%;
}
.basketdiv .basketcmd {
  width: 100%;
}
.basketdiv .data .pname {
  text-align: left !important;
  line-height: 1.2 !important;
}
.basketdiv .data .price,
.basketdiv .data .sum,
.basketdiv .data .point {
  text-align: right;
}
.baseform > tbody > tr > td:first-child {
  width: 100px;
}

.buttongroup {
  padding: 11px 0;
  margin: 50px 0;
}
.narrowbuttongroup {
  margin: 15px 0;
}
.buttongroup.center {
  text-align: center;
}
.buttongroup input[type="text"],
.buttongroup input[type="password"] {
  height: 30px;
}
.buttongroup button,
.buttongroup a {
  margin-right: 5px;
}
.buttongroup button:last-child,
.buttongroup a:last-child {
  margin-right: 0;
}

.abutton,
.abutton:link,
.abutton:visited,
.abutton:active,
input[type="button"] {
  background-color: #383838;
  border: 1px solid #888888;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 3px 5px;
  margin: 2px 3px;
  width: auto;
  word-break: keep-all;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9375em;
}

.abutton-alt {
  background-color: #d3e2c6;
}

.red {
  color: #b00;
}
.blue {
  color: #0075ff;
}
.basketrowcmd,
.sumcount,
.summoney {
  text-align: right;
  margin-bottom: 10px;
}
.sumcount,
.summoney {
  font-size: 1.25em;
  font-weight: bold;
}
.buttongroup {
  text-align: center;
}
.buttongroup a {
  text-decoration: none;
}
.cmd a,
.cmd span {
  padding: 12px 30px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1.2em;
  color: #000;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  text-align: center;
}
.cmd.small a,
.cmd.small span {
  padding: 6px 20px;
  font-size: 0.8125em;
}

.orderform .p_num {
  text-align: right;
  width: 40px;
  font-size: 1em;
}

/*************************member.list ****************/
