#category {
  width: 1300px;
  height: 100px;
  outline: 1px dotted red;
  margin: 50px;
}
.menu_category {
  font-size: 25px;
  list-style: none;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  color: red;
}
a {
  text-decoration: none;
  display: block;
}
a:hover {
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
