* {
  box-sizing: border-box;
}
/* login logo */
#userMenu {
  display: inline;
}
#userMenu .menu_list {
  margin-top: auto;
  list-style: none;
}
#userMenu .menu_list li {
  width: 58.9px;
  margin-right: 20px;
  float: right;
}
#userMenu .menu_list li a {
  text-decoration: none;
}

#main-wrapper {
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 5em 0 5em 0;
}

#header-wrapper {
  padding: 1.5em 0 3em 0;
}
/* Logo */
#header div {
  margin: 0 auto;
  width: 100%;
}
#header h1 {
  background: #34e661;
  color: rgb(138, 136, 136);
  border-radius: 6px;
  font-family: "Oleo Script", serif;
  font-weight: 400;
  padding: 0.25em 0.2em 0.25em 0.2em;
  font-size: 3.25em;
  letter-spacing: 0.05em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

#header span {
  font-weight: 800;
  line-height: 4.5em;
  letter-spacing: 0.025em;
  font-size: 0.9em;
  vertical-align: middle;
  margin: 0 0 0 0;
}

/* Nav */

#nav {
  right: 400px;
  top: 35px;
  font-size: 0.9em;
  height: 59px;
}

#nav ul {
  list-style: none;
  padding-left: 5px;
  width: 1000px;
}

#nav ul li {
  float: left;
  /* line-height: 4.5em; */
  margin: 0 auto;
  padding-left: 7.5em;
  font-size: 13px;
}

#nav ul li a,
#nav ul li span,
.menu_category {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  font-weight: 800;
  letter-spacing: 0.025em;
  color: #696969;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
}

#nav ul li ul {
  display: none;
}

#nav ul li:hover a,
#nav ul li:hover span {
  background: #444;
}

#nav ul li.active a,
#nav ul li.active span {
  background: #fff;
}

#nav ul li.current a {
  background: #444;
  color: #fff;
}
.menu_category {
  margin-right: 100px;
}
