<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    @import url("/css/style.css");
  </style>
<div class="footer" th:fragment="footer">
  <div id="footer_wrap">
    <ul>
      <li class="footer_list">
        <img src="/Images/logo.png" style="display: block;" width="70px" height="70px">
        <h3 class="footer_h3">Team :: Fast Food</h3>
        <h3 class="footer_h3">FrontEnd</h3>
        <h4 class="footer_h4">김호진 >
          <span style="color: #4aa96c;">kimhojin3714@naver.com</span>
          <h3 class="footer_h3">
            <span>Github</span>
            <a href="https://github.com/cohojin" target="_blank">
              <img src="/Images/gitHub.png" width="30px" height="30px"
                   style="margin-left: 30px; display: inline-block;">
            </a>
          </h3>
        </h4>
        <h3 class="footer_h3">BackEnd</h3>
        <h4 class="footer_h4">김민호 >
          <span style="color: #4aa96c;">rlaalsgh9511@daum.net</span>
          <h3 class="footer_h3">
            <span>Github</span>
            <a href="https://github.com/rlaalsgh" target="_blank">
              <img src="/Images/gitHub.png" width="30px" height="30px"
                   style="margin-left: 30px; display: inline-block;">
            </a>
          </h3>
        </h4>
      </li>
      <li class="footer_list">
        <img src="/Images/footer_example_img.jpg" width="500px" height="200px">
        <h2 style="color: white;">Copyright 2021 by Hojin,Minho</h2>
      </li>
    </ul>
  </div>
</div>