<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fast Food :: 수산 페이지</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- 제이쿼리 메뉴바 고정 -->
    <script src="/js/jquery/jquery.js"></script>

</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!-- quick nav -->
    <div id="quick">
        <div>
            <div id="quick_img">
                <a href="#">
                    <img src="/Images/pic01.jpg" width="80px" height="100px">
                </a>
            </div>
            <div id="quick_side">
                <a href="#" class="quick_link">등급혜택</a>
                <a href="#" class="quick_link">레시피</a>
                <a href="#" class="quick_link">장바구니</a>
            </div>
        </div>
    </div>

    <!-- 베스트 상품 배치 -->
    <div id="best_list_wrap" class="allMargin">
        <ul class="best_container">
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
            <li class="best_item">
                <a href="ProductPage.html">
                    <img src="/Images/pic01.jpg">
                    <h3>상품명</h3>
                    <h4>상품가격</h4>
                </a>
            </li>
        </ul>
    </div>
    </div>

    <!-- 메뉴바 fixed -->
    <script src="/js/menubar_fixed.js"></script>
<div th:replace="fragments/footer :: footer" />
</body>

</html>