<!DOCTYPE html>
<html xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>회원가입 성공!</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
  </style>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="login_success_wrap">
    <img src="/Images/logo.png" class="login_logo" width="256px" height="256px">
    <h2>회원가입에 성공하였습니다.</h2>
    <a>메인으로 이동</a>
    <div>
      <input type="button" value="확인" id="login_success_btn" onClick="location.href='/'">
    </div>
  </div>
</body>
</html>