<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>
    Fast Food :: 마이페이지
  </title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
  </style>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <!-- 제이쿼리 메뉴바 고정 -->
  <script src="/js/jquery/jquery.js"></script>

</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <!-- quick nav -->
  <div id="quick">
    <div>
      <div id="quick_img">
        <a href="#">
          <img src="/Images/pic01.jpg" width="80px" height="100px">
        </a>
      </div>
      <div id="quick_side">
        <a href="#" class="quick_link">등급혜택</a>
        <a href="#" class="quick_link">레시피</a>
        <a href="#" class="quick_link">장바구니</a>
      </div>
    </div>
  </div>
  <!--mypage_list -->
  <div id="delivery_wrap" class="allMargin">
    <div id="delivery_list">
      <ul class="delivery_container">
        <li class="delivery_items">
          <img src="/Images/myPage_basket.png">
          <span class="delivery_items_contents" style="padding-left: 20px;">주문접수</span>
          <img src="/Images/myPage_arrowRight.png" id="delivery_right">
        </li>
        <li class="delivery_items">
          <img src="/Images/myPage_credit.png">
          <span class="delivery_items_contents">결제완료</span>
          <img src="/Images/myPage_arrowRight.png" id="delivery_right">
        </li>
        <li class="delivery_items">
          <img src="/Images/myPage_gift.png">
          <span class="delivery_items_contents">상품준비중</span>
          <img src="/Images/myPage_arrowRight.png" id="delivery_right">
        </li>
        <li class="delivery_items">
          <img src="/Images/myPage_truck.png">
          <span class="delivery_items_contents">배송준비</span>
          <img src="/Images/myPage_arrowRight.png" id="delivery_right">
        </li>
        <li class="delivery_items">
          <img src="/Images/myPage_note.png">
          <span class="delivery_items_contents">배송완료</span>
        </li>
      </ul>
    </div>
  </div>
  <div id="delivery_list_wrap" class="allMargin">
    <div id="delivery_quick_wrap" class="delivery_content_wrap">
      <h2 class="quick_title">마이페이지</h2>
      <div id="delivery_quick_contents">
        <ul id="delivery_quick_container">
          <li class="delivery_quick_list">
            <a href="/MyPage">
              마이페이지
            </a>
            <img src="/Images/myPage_quick_right.png" id="delivery_quick_right" width="20px" height="20px">
          </li>
          <li class="delivery_quick_list">
            <a href="/MyPageOrder">
              주문내역
            </a>
            <img src="/Images/myPage_quick_right.png" id="delivery_quick_right" width="20px" height="20px">
          </li>
          <li class="delivery_quick_list">
            <a href="/MyPageDelivery">
              배송지관리
            </a>
            <img src="/Images/myPage_quick_right.png" id="delivery_quick_right" width="20px" height="20px">
          </li>
          <li class="delivery_quick_list">
            <a href="/MyPageCoupon">
              쿠폰
            </a>
            <img src="/Images/myPage_quick_right.png" id="delivery_quick_right" width="20px" height="20px">
          </li>
          <li class="delivery_quick_list">
            <a href="/MyPageModify">
              상품등록
            </a>
            <img src="/Images/myPage_quick_right.png" id="delivery_quick_right" width="20px" height="20px">
          </li>
        </ul>
      </div>
    </div>
    <div class="delivery_content_wrap">
      <h2 class="quick_title">쿠폰</h2>
      <div id="delivery_coupon_wrap">
        <input type="txt" placeholder="쿠폰번호" id="coupon_txt">
        <input type="button" value="쿠폰등록" id="coupon_reg">
        <p id="coupon_precaution">
          쿠폰에 하이픈이 있을 경우에는 꼭 삽입해 주세요!!
        </p>
      </div>
      <div id="delivery_coupon_container_wrap">
        <ul class="delivery_coupon_container">
          <li class="delivery_coupon_items">번호</li>
          <li class="delivery_coupon_items">쿠폰명</li>
          <li class="delivery_coupon_items">기능</li>
          <li class="delivery_coupon_items">기간</li>
        </ul>
      </div>
      <div id="delivery_content_list">
        <ul class="delivery_content_container">
          <li class="delivery_content_items" id="coupon_item1">주문 쿠폰이 없습니다.</li>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <!-- 메뉴바 fixed -->
  <script src="/js/menubar_fixed.js"></script>
  <script src="/js/member_coupon.js"></script>
<div th:replace="fragments/footer :: footer" />

</body>

</html>