<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Fast Food :: 신상품 페이지
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- 제이쿼리 메뉴바 고정 -->
    <script src="/js/jquery/jquery.js"></script>

</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!-- quick nav -->
    <div id="quick">
        <div>
            <div id="quick_img">
                <a href="#">
                    <img src="/Images/pic01.jpg" width="80px" height="100px">
                </a>
            </div>
            <div id="quick_side">
                <a href="#" class="quick_link">등급혜택</a>
                <a href="#" class="quick_link">레시피</a>
                <a href="#" class="quick_link">장바구니</a>
            </div>
        </div>
    </div>
    <!-- 신상품 배치 -->
    <div id="newproduct_list_wrap" class="allMargin">
        <ul class="newproduct_container">
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/유명산지 수박 5kg 이상.jpg" class="imgHover">
                    <h3>유명산지 수박 5kg 이상</h3>
                    <h4>15840원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/유기농 살구 300g.jpg" class="imgHover">
                    <h3>유기농 살구 300g</h3>
                    <h4>10800원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="loginrlaalsgh9511/item/NP1">
                    <img src="/Images/new_img/삼양 큰컵불닭볶음면.jpg" class="imgHover">
                    <h3>[삼양] 큰컵불닭볶음면</h3>
                    <h4>1120원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/삼양 큰컵 까르보불닭볶음면.jpg" class="imgHover">
                    <h3>[삼양] 큰컵 까르보불닭볶음면</h3>
                    <h4>1200원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/삼양 불닭소스.jpg" class="imgHover">
                    <h3>[삼양] 불닭소스</h3>
                    <h4>3300원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/에어메이드 세라스텐 에어프라이어.jpg" class="imgHover">
                    <h3>[에어메이드] 세라스텐 에어프라이어</h3>
                    <h4>169000원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/벨로타벨로타 이베리코 로모50g.jpg" class="imgHover">
                    <h3>[벨로타벨로타] 이베리코 로모50g</h3>
                    <h4>15000원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="/loginrlaalsgh9511/item/NP2">
                    <img src="/Images/new_img/패스트캠프 오페라스위트 2종.jpg" class="imgHover">
                    <h3>[패스트캠프] 오페라스위트 2종</h3>
                    <h4>92900원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/백미당 우유 아이스크림 2종.jpg" class="imgHover">
                    <h3>[백미당] 우유 아이스크림 2종</h3>
                    <h4>9350원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/앱코 무선마우스 & 키보드.jpg" class="imgHover">
                    <h3>[앱코] 무선마우스 & 키보드</h3>
                    <h4>21100원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/바잇미 접이식 실리콘 보울 5종.jpg" class="imgHover">
                    <h3>[바잇미] 접이식 실리콘 보울 5종</h3>
                    <h4>3500원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/쓰임 마리벨 골드 커피잔 세트.jpg" class="imgHover">
                    <h3>[쓰임] 마리벨 골드 커피잔 세트</h3>
                    <h4>16700원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/페피릴리프 CAT바디 & 페이셜 티슈.jpg" class="imgHover">
                    <h3>[페피릴리프] CAT바디 & 페이셜 티슈</h3>
                    <h4>2640원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="/loginrlaalsgh9511/item/NP5">
                    <img src="/Images/new_img/육지도 생참치회 500g.jpg" class="imgHover">
                    <h3>육지도 생참치회 500g</h3>
                    <h4>96000원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="/loginrlaalsgh9511/item/NP4">
                    <img src="/Images/new_img/국내산 양념 민물장어 (자포니카).jpg" class="imgHover">
                    <h3>국내산 양념 민물장어 (자포니카)</h3>
                    <h4>20367원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="/loginrlaalsgh9511/item/NP3">
                    <img src="/Images/new_img/고래사 크림 치즈볼.jpg" class="imgHover">
                    <h3>[고래사] 크림 치즈볼</h3>
                    <h4>2805원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/AHC 아우라 시크릿 톤업 크림.jpg" class="imgHover">
                    <h3>[AHC] 아우라 시크릿 톤업 크림</h3>
                    <h4>18200원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/닥터하우스 팔레트 그릴팬.jpg" class="imgHover">
                    <h3>[닥터하우스] 팔레트 그릴팬</h3>
                    <h4>52900원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/고래사 고래바 6종.jpg" class="imgHover">
                    <h3>[고래사] 고래바 6종</h3>
                    <h4>2295원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/SAC 캠핑 컵 4P.jpg" class="imgHover">
                    <h3>[SAC] 캠핑 컵 4P</h3>
                    <h4>9900원</h4>
                </a>
            </li>
            <li class="newproduct_item">
                <a href="ProductPage">
                    <img src="/Images/new_img/닥터하우스 트윙클 미니 스토브.jpg" class="imgHover">
                    <h3>[닥터하우스] 트윙클 미니 스토브</h3>
                    <h4>59000원</h4>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <!-- 메뉴바 fixed -->
    <script src="/js/menubar_fixed.js"></script>
<div th:replace="fragments/footer :: footer" />

</body>

</html>