<!DOCTYPE html>
<html>

<head>
    <title>Fast Food :: 메인페이지 </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
    <link type="text/css" rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="js/jquery/jquery.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<body>
    <!-- slick slider -->
    <section class="visual">
        <div><img src="Images/welcome_img1.jpg" alt="" width="1200px" height="444px"></div>
        <div><img src="Images/welcome_img2.jpg" alt="" width="1200px" height="444px"></div>
        <div><img src="Images/welcome_img3.jpg" alt="" width="1200px" height="444px"></div>
    </section>
    <script type="text/javascript">
        $('.visual').slick();
    </script>

    <div id="newproduct_wrap">
        <h2>신상품 리스트</h2>
        <ul class="newproduct_container">
            <li class="newproduct_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
            <li class="newproduct_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
            <li class="newproduct_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
        </ul>
    </div>

    <div id="best_wrap">
        <h2>베스트 리스트</h2>
        <ul class="best_container">
            <li class="best_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
            <li class="best_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
            <li class="best_item">
                <img src="Images/pic01.jpg" width="315px" height="400px" class="imgHover">
                <h3>상품명</h3>
                <h4>상품가격</h4>
            </li>
        </ul>
    </div>
    <!-- <div id="money_wrap">
            <h2>이달의 돈쭐</h2>
        </div> -->
    </div>
    <script src="js/menubar_fixed.js"></script>
</body>

</html>