<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fast Food :: 상품 설명 페이지</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- 제이쿼리 메뉴바 고정 -->
    <script src="/js/jquery/jquery.js"></script>

</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div id="productPage_list_wrap">
        <div class="productPage_container">
            <div id="productPage_img" class="productPage_item">
                <img src="/Images/new_img/고래사 크림 치즈볼.jpg" width="500px" height="550px">
            </div>
            <div id="productPage_explain" class="productPage_item">
                <h2>[고래사] 크림 치즈볼 </h2>
                <hr>
                <span>상품가격</span>
                <span name="productMoney " id="productMoney">
                    2805원
                </span>
                <hr>
                <span> 판매단위 1개</span>
                <hr>
                <span> 배송 </span>
                <hr>
                <span>
                    <span>구매 수량</span>
                    <button type="button" id="product_minus" onclick='calc("minus")'>
                        <img src="/Images/minus.png" width="15px" height="15px">
                    </button>
                    <span id="product_count">0</span>
                    <button type="button" id="product_plus" onclick='calc("plus")'>
                        <img src="/Images/plus.png" width="15px" height="15px">
                    </button>
                </span>
                <div>
                    <span>총 : <span id="resultMoney">0</span>원</span>
                </div>
                <div>
                    <!-- <a type="button" href="/basket/basket.html" class="btn_basket">장바구니</a> -->
                    <button type="submit" onClick="a.href=''" class="btn_basket">장바구니</button>
                    <!-- <a class="btn_purchase" type="button" href="/basket/basket.html" >구매하기</a> -->
                    <button type="submit" class="btn_purchase">
                        <a href="/loginrlaalsgh9511/Pay/NPP3">
                            구매하기
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="productPage_content_wrap" class="allMargin">
        <div id="productPage_info">
            <ul class="productPage_infoMenu_container">
                <li class="productPage_infoMenu_items"><a href="#anc_info">상품설명</a></li>
                <li class="productPage_infoMenu_items"><a href="#anc_table">상세정보</a></li>
                <li class="productPage_infoMenu_items"><a href="#productPage_support_content">고객후기</a></li>
                <li class="productPage_infoMenu_items"><a href="#anc_info">상품문의</a></li>
            </ul>
        </div>
        <div id="productPage_info_content">
            <img id="anc_info" src="/Images/pic01.jpg" style="width: 100%;">
            <h2 style="text-align: center; padding-bottom: 30px; border-bottom: 1px solid #c1c1c1;">[회사] 상품이름</h2>
            <p style="font-size: 20px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div id="productPage_detail_content">
            <table width="100%" id="anc_table">
                <tbody>
                    <tr>
                        <th class="table_row">제품명</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                        <th class="table_row">식품의 유형</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                    </tr>
                    <tr>
                        <th class="table_row">제조원 및 생산자</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                        <th class="table_row">소재지</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                    </tr>
                    <tr>
                        <th class="table_row">제조일/유통기한</th>
                        <td>상세정보 및 제품 별도라벨 표기</td>
                        <th class="table_row">중량 및 구성</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                    </tr>
                    <tr>
                        <th class="table_row">원재료 및 함량</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                        <th class="table_row">보관 방법</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                    </tr>
                    <tr>
                        <th class="table_row">영양 성분</th>
                        <td>상품 설명 및 상품 이미지 참조</td>
                        <th class="table_row">소비자 상담실 전화번호</th>
                        <td>fastfood 고객센터</td>
                    </tr>
                </tbody>
            </table>
            <div id="why_fastfood">
                <strong
                    style="display: block; text-align: center; font-weight: 500; font-size: 33px; font-family:Arial, Helvetica, sans-serif;">
                    WHY FASTFOOD
                </strong>
                <div id="why_content">
                    <ul class="why_container">
                        <li class="why_items">
                            <div class="img_div">
                                <img src="/Images/pic01.jpg">
                            </div>
                            <h2>깐깐한 상품위원회</h2>
                            <p>
                                나와 내 가족이 먹고 쓸 상품을 고르는 마음으로 매주 상품을 직접 먹어보고, 경험해보고 성분 ,맛, 안정성 등 다각도의 기준을 통과한 상품만을
                                판매합니다.
                            </p>
                        </li>
                        <li class="why_items">
                            <div class="img_div">
                                <img src="/Images/pic01.jpg">
                            </div>
                            <h2>차변화된 FastFood 상품</h2>
                            <p> 전국 각지와 해외의 훌륭한 생산자가 믿고 선택하는 파트너 , FastFood. Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry.</p>
                        </li>
                        <li class="why_items">
                            <div class="img_div">
                                <img src="/Images/pic01.jpg">
                            </div>
                            <h2>신선한 풀콜드체인 배송</h2>
                            <p>
                                온라인 업계 최초로 산지에서 문 앞까지 상온,냉장,냉동 상품을 분리 포장 후 최적의 온도를 유지하는 냉장 배송 시스템, 풀 콜드체인으로 상품을 신선하게
                                전해드립니다.
                            </p>
                        </li>
                        <li class="why_items">
                            <div class="img_div">
                                <img src="/Images/pic01.jpg">
                            </div>
                            <h2>고객, 생산자를 위한 최선의 가격</h2>
                            <p>
                                매주 대형 마트와 주요 온라인 마트의 가격 변동 상황을 확인해 신선식품은 품질을 탑협하지 않는 선에서 최선의 가격으로, 가공식품은 언제나 합리적인
                                가격으로 정기 조정합니다.
                            </p>
                        </li>
                        <li class="why_items">
                            <div class="img_div">
                                <img src="/Images/pic01.jpg">
                            </div>
                            <h2>환경을 생각하는 지속 가능한 유통</h2>
                            <p>
                                친환경 포장재부터 생산자가 상품에만 집중할 수 있는 직매입 유통구조까지, 지속 가능한 유통을 고민하며 컬리를 있게 하는 모든
                                환경(생산자,커뮤니티,직원)이 더 나아질 수 있도록 노력합니다.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="productPage_support_content">
            <div>
                <div id="productPage_title_content">
                    <h2>PRODUCT REVIEW</h2>
                    <h4>상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</h4>
                    <h4>배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 패스트푸드 내 1:1 문의에 남겨주세요.</h4>
                    <div id="productPage_sort_content">
                        <select name="sort">
                            <option value="1">최근등록순</option>
                            <option value="2">좋아요순</option>
                            <option value="3">조회순</option>
                        </select>
                    </div>
                </div>
                <hr style="border: 1px solid #4aa96c;">
                <div class="productPage_support_container">
                    <div class="productPage_support_items">번호</div>
                    <div class="productPage_support_items">제목</div>
                    <div class="productPage_support_items">작성자</div>
                    <div class="productPage_support_items">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">1</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">2</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">3</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">4</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">5</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <hr style="border: 1px solid #4aa96c;">
                <div id="productPage_review_wrap">
                    <button type="button" id="productPage_review_btn">
                        <a href="">
                            후기쓰기
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div id="productPage_support_content_qa">
            <div>
                <div id="productPage_title_content">
                    <h2>PRODUCT Q&A</h2>
                    <h4>상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</h4>
                    <h4>배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이컬리 내 1:1 문의에 남겨주세요.</h4>
                    <div id="productPage_sort_content">
                        <select name="sort">
                            <option value="1">최근등록순</option>
                            <option value="2">좋아요순</option>
                            <option value="3">조회순</option>
                        </select>
                    </div>
                </div>
                <hr style="border: 1px solid #4aa96c;">
                <div class="productPage_support_container">
                    <div class="productPage_support_items">번호</div>
                    <div class="productPage_support_items">제목</div>
                    <div class="productPage_support_items">작성자</div>
                    <div class="productPage_support_items">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">1</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">2</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">3</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">4</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <div class="productPage_support_num_container">
                    <div class="productPage_support_items_num">5</div>
                    <div class="productPage_support_items_num">제목</div>
                    <div class="productPage_support_items_num">김호진</div>
                    <div class="productPage_support_items_num">작성일</div>
                </div>
                <hr style="border: 1px solid #4aa96c;">
                <div id="productPage_review_wrap">
                    <button type="button" id="productPage_review_btn">
                        <a href="">
                            상품문의
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 메뉴바 fixed -->
    <script src="/js/menubar_fixed.js"></script>
    <script src="/js/productCalc.js"></script>
<div th:replace="fragments/footer :: footer" />
</body>

</html>